@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./variables/colors";

.app {
  padding: 24px 80px 0;
  color: var(--primary-color);
  background: var(--bg-color);
  font: var(--font-m);
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleTheme {
  padding: 5px 10px;
  cursor: pointer;
}
