:root {
  --color-black: #131313;
  --color-white: #fff;
  --color-red: #ed145b;
  --color-blue: #778ceb;
  --color-light-green: rgb(238 253 215 / 100%);
  --color-light-red: rgb(255 235 235 / 100%);
  --color-light-blue: rgb(228 233 255 / 100%);
  --color-orange: rgb(253 233 210 / 100%);
  --color-dark-blue: rgb(12 37 61 / 95%);
}
