.app.dark {
  --bg-color: var(--color-dark-blue);
  --primary-color: var(--color-white);
  --secondary-color: var(--color-light-blue);
  --inverse-bg-color: var(--color-white);
  --inverse-primary-color: var(--color-black);
  --inverse-secondary-color: var(--color-blue);
}
