@import "shared/styles/mixins";

.navbar {
  @include flex-center;

  width: 100%;
  height: var(--navbar-height);
  margin-bottom: 28px;

  color: var(--primary-color);

  & .toggleTheme {
    width: 45px;
    height: 45px;
    padding: 0;
  }

  & .toggleLang {
    padding: 10px;
  }

  & .profile {
    width: 36px;
    height: 36px;
    padding: 10px;
  }
}

.links {
  @include flex-center;
  gap: 40px;

  width: 40%;
  margin-right: 65px;
  margin-left: 72px;
  padding-top: 5px;

  font-weight: 700;
}

.actions {
  @include flex-center;
  gap: 32px;
}

.contacts {
  @include flex-center;
  gap: 10px;

  margin-right: 36px;
}

.toggleThemeIcon {
  width: 40px;
  height: 40px;
}
